@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,500');

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1em;
}

.grid{
  display: grid;
  grid-template-columns: repeat(12,1fr);
}

h1, h2, h3, h4, h5{
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
}

a{
  color: rgba(255,255,255,0.9);
}