.addOrEditPageContainer{
    grid-column: 1/13;
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.contentContainer{
    grid-column: 4/10;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
}


.addTitle{
    grid-column: 1/7;

    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #FFF;

    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 15px 40px;
}

.addTitle span{
    display: block;
    grid-column: 1/2;
    justify-self: right;
    font-family: 'program';
    font-weight: 600;
    align-self: center;
}

.cmvLabel , .addTitle input.cmvInput{
    font-size: 1rem;
    margin-top: 20px;
    font-weight: 500;
    font-family: 'program';
    padding-top: 10px;
    padding-bottom: 7px;
}



.addTitle input{
    grid-column: 2/3;
    font-size: 1em;
    font-family: 'program';
    font-weight: 600;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    padding-top: 10px;
    padding-bottom: 7px;
}

.writingGuidelines{
    grid-column: 2/3;
    font-size: 1rem;
}

.markdownLink{
    font-size: 0.8rem;
    padding-bottom: 10px;
    color: #CCC;
    grid-column: 1/3;
}

.sectionLabel{
    font-family: 'program';
    font-size: 1rem;
    color: #DDD;
    font-weight: 600;
}

.sectionLabelTitle{
    grid-column: 1/3;
}

.contentContainer textArea{
    grid-column: 1/7;
    font-size: 1rem;
    padding-top: 5px;
    padding-left: 8px;
    background-color: rgba(255, 255, 255, 0.9);
    font-family: 'Open sans'
}

.whereInput{
    height: 20vh;
    margin-bottom: 20px;
}

.contentContainer h3{
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 1.2rem;
}

.contentContainer p{
    margin-top: 0px;
    grid-column: 1/4;
    font-weight: 500;
    color: #ddd;
    font-size: 0.9em;

}

.contentContainer .view-title{
    padding-top: 10px;
    padding-bottom: 10px;
    grid-column: 1/6;
    margin-bottom: 20px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    font-family: 'program';
    font-weight: 600;
    font-size: 1.2rem;
}

.viewDetailsInput{
    height: 70vh;
    margin-bottom: 50px;
}

.savePage{
    padding: 20px;
    margin-bottom: 5px;
    grid-column-start: 1;
}

span.errorText{
    grid-column: 1/3;
    color: #FFF;
    margin-bottom: 100px;
}

@media (max-width: 1600px){
    .contentContainer{
        grid-column: 3/11;
    }

    .addTitle{
        font-size: 2rem;
    }
}

@media (max-width: 1000px){
    .contentContainer{
        grid-column: 2/12;
    }

    .savePage{
        grid-column: 1/3;
    }

    .addTitle{
        font-size: 2rem;
    }
}