.addOrEditPageContainer{
    grid-column: 1/13;
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.leftInfoBox{
    top: 10vh;
   
    /*
    grid-column: 9/11;
    grid-row: 2/3;
    */

    grid-column: 2/4; 

    position: sticky;
    margin-top: 20vh;
    height: min-content;
}

.leftInfoBox span.titleLabel, .leftInfoBox p.titleValue{
    font-size: 1rem;
    margin-top: 0px;
    font-weight: 400;
    font-family: 'program';
    padding-top: 0px;
    padding-bottom: 0px;
    /* color: rgba(250,250,250,0.9); */
}

.leftInfoBox span.titleLabel{
    font-weight: 600;
    /* color: rgba(250,250,250,0.9); */
    padding-bottom: 5px;
    display: block; 

}

.leftInfoBox p.titleValue{
    /* color: rgba(250,250,250,0.9); */
}

.leftInfoBox .inviteDetails{
    /* border: 2px solid #fff; */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
}

.leftInfoBox .inviteDetails *{
    color: #333;
}

.leftInfoBox .helpfulLinks{
    margin-top: 40px;
    padding: 20px;
}

.leftInfoBox .leftInfoLabel{
    margin-top: 0px;
    font-family: 'program';
    font-size: 1rem;
    /* color: rgba(250,250,250,0.9); */
    font-weight: 400;
    padding-top: 0px;
    letter-spacing: 0.6px;

}

.markdownLink{
    font-size: 0.9rem;
    padding-bottom: 10px;
    color: rgba(230,230,230,0.9);
    grid-column: 1/3;
    font-weight: 400;
     
    display: block;
}

.contentContainer{
    
    /*
    grid-column: 2/8;
    grid-row: 2/3;
    */

    grid-column: 5/11;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
}


.addTitle{
    grid-column: 1/7;

    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #FFF;

    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 15px 40px;
}

.addTitle span{
    display: block;
    grid-column: 1/2;
    font-family: 'program';
    font-weight: 500;
    align-self: center;
}

.addTitle input{
    width: 100%;
    box-sizing: border-box;
    grid-column: 1/3;
    font-size: 1em;
    font-family: 'program';
    font-weight: 500;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    padding-top: 10px;
    padding-bottom: 7px;
    border: none;
    color: #222;
}



.contentContainer p.titleValue{
    grid-column: 2/4;
    margin-bottom: 0px;
    font-weight: 400;
}





.writingGuidelines{
    grid-column: 2/3;
    font-size: 1rem;
}



.sectionLabel{
    font-family: 'program';
    font-size: 1rem;
    color: #DDD;
    font-weight: 500;
}

.sectionLabelTitle{
    grid-column: 1/2;
}

.contentContainer textArea{
    grid-column: 1/7;
    font-size: 1.2944rem;
    padding-top: 5px;
    padding-left: 8px;
    background-color: rgba(255, 255, 255, 0.9);
    font-family: 'program';
    line-height: 1.4;
    letter-spacing: 0.4px;
    color: #222;
}

.whereInput{
    height: 20vh;
    margin-bottom: 20px;
}

.contentContainer .bodySectionTitle{
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 1.2944rem;
    margin-top: 50px;
    padding-bottom: 0px;
}

.contentContainer .bodySectionTitle.whereLabel{
    margin-top: 15px;
}

.contentContainer p{
    margin-top: 0px;
    grid-column: 1/4;
    color: #ddd;
    font-size: 1rem;

}

.contentContainer .view-title{
    padding-top: 10px;
    padding-bottom: 10px;
    grid-column: 1/7;
    margin-bottom: 20px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    font-family: 'program';
    font-weight: 600;
    font-size: 1.2944rem;
}

.viewDetailsInput{
    height: 50vh;
    margin-bottom: 50px;
}

.savePage{
    padding: 20px;
    margin-bottom: 5px;
    grid-column-start: 1;
    color: white;

    background-color: rgba(255,255,255,0.2);
    border: 1px solid white;
    font-family: 'program';
    font-weight: 500;
    font-size: 1rem;
}

.savePage:hover{
    background-color: white;
    color: #333;
}

span.errorText{
    grid-column: 1/3;
    color: #FFF;
    margin-bottom: 100px;
}

@media (max-width: 1600px){
    .leftInfoBox{
        grid-column: 2/5;
    }
    
    .contentContainer{
        grid-column: 6/12;
    }

    .addTitle{
        font-size: 2rem;
    }

    .savePage{
        grid-column: 1/3;
    }
}

@media (max-width: 1000px){
    .leftInfoBox{
        grid-column: 2/12;
        position: static;
        margin-top: 20px;
    }

    .leftInfoBox .helpfulLinks{
        display: none;
    }
    
    .contentContainer{
        margin-top: 20px;
        grid-column: 2/12;
    }

    .contentContainer p{
        grid-column: 1/7;
    }

    .savePage{
        grid-column: 1/3;
    }

    .addTitle{
        font-size: 2rem;
        margin-top: 0px;
    }
}