.loginContainer{
    grid-column: 1/13;

    display: inherit;
    grid-template-columns: inherit;

}

.login{
    grid-column: 4 / span 5;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 10px;
}

h3{
    grid-column: 2/6;
}

.login label{
    grid-column: 2/6;
    color: #FFF;


}

.login input{
    grid-column: 2/6;
    padding-left: 3px;
}


.login input.submit{
    margin-top: 30px;
    grid-column: 2/4;
}

.hide{
    display: none;
}



