.nav-container{
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFF;
    position: sticky;
    top: 0px;
    border-bottom: 2px #643472 solid;
}

.nav-container .buttons{
    grid-column: 2/12;

    display: grid;
    grid-template-columns: repeat(10,1fr);
}

.home{
    font-size: 2.094rem;
    color: #643472;
    text-decoration: none;
    font-weight: 600;
    grid-column: 1/2;

}

.project{
    font-weight: 600;
    color: #999;
}

.nav-container .buttons .mainNav{
    grid-column: 2/7;
    align-self: center;
}



.authContainer{
    grid-column: 11/13;
    justify-self: right;
    align-self: center;
}

.nav-container .buttons a{
    padding-right: 40px;
}



.rules{
    /* grid-column-start: 4; */
    font-size: 1.2944rem;
    color: #555;
    text-decoration: none;
    font-weight: 400;
}

.about{
    /* grid-column-start: 4; */
    font-size: 1.2944rem;
    color: #555;
    text-decoration: none;
    font-weight: 400;
}

.loginLink , .signUp, .profile, .addPage{
    font-size: 1.2em;
    color: #555;
    text-decoration: none;
    font-weight: 500;
}

.nav-container .buttons a.signUp{
    font-weight: 500;
    color: #643472;
    padding: 5px 10px;
    margin-top: 10px;
    border: 1px solid #643472;
    margin-right: 20px;
}

.signOut{
    padding-right: none;
}

.addPage{
    font-weight: 600;
    color: #643472;
}

.hidden{
    display: none; 
}

@media (min-width: 1400 px){
    .home{
        font-size: 1.8rem;
    }
}

/* mobile   */
@media (max-width: 1200px){

    .nav-container .buttons{
        grid-column: 1/13;
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav-container .rules{
        font-size: 1rem;
    }

    /*
    .nav-container .buttons .mainNav{
        grid-column: 1/6;
        padding-top: 10px;
    }

    .nav-container .buttons .authContainer{
        grid-column: 6/13;
        grid-row: 1/3;
    }
    */



}

@media (max-width: 700px){

    .rules, .about{
        font-size: 0.9rem;
    }
    

    .nav-container .buttons{
        padding-left: 10px;
        padding-right: 10px;
    }

    .nav-container .buttons a{
        padding-right: 20px;
    }

    .nav-container .buttons .mainNav{
        padding-top: 10px;
        grid-column: 1/13;
    }

    /*
    .nav-container .buttons .authContainer{
        grid-column: 6/13;
        padding-right: 5px;
    }
    */

    .nav-container .buttons a.profile{
        display: block;
        padding-right: 0px;
        text-align: right;
    }

    .nav-container .buttons a.loginLink{
        display: block;
        padding-top: 10px;
        text-align: center;
        padding-right: 0px;
        font-size: 0.8rem;
        text-decoration: underline;
    }

    .nav-container .buttons a.loginLink.hidden{
        display: none;
    }

    .nav-container .buttons a.profile.hidden{
        display: none;
    }

    .signOut{
        background-color: #fff;
        border: none;
        font-size: 0.8rem;
        text-decoration: underline;
        text-align: right;
        padding-right: 0px;
    }

    .nav-container .buttons a.signUp{
        margin-right: 0px;
    }

    .mobile-hide{
        display: none;
    }
}