.nav-container{
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFF;
    position: sticky;
    top: 0px;
    border-bottom: 2px #643472 solid;
}

.nav-container .buttons{
    grid-column: 3/11;

    display: grid;
    grid-template-columns: repeat(8,1fr);
}

.nav-container .buttons .mainNav{
    grid-column: 1/5;
}

.authContainer{
    grid-column: 7/9;
    justify-self: right;
}

.nav-container .buttons a{
    padding-right: 40px;
}

.home{
    font-size: 1.4em;
    /*padding-left: 20px;*/
    color: #643472;
    text-decoration: none;
    font-weight: 500;
    /* grid-column-start: 3; */
}

.rules{
    /* grid-column-start: 4; */
    font-size: 1.1em;
    color: #000;
    text-decoration: none;
}

.about{
    /* grid-column-start: 4; */
    font-size: 1.1em;
    color: #000;
    text-decoration: none;
}

.loginLink , .signUp, .profile, .addPage{
    font-size: 1.1em;
    color: #000;
    text-decoration: none;
}

.nav-container .buttons a.signUp{
    font-weight: 500;
    color: #643472;
    padding: 5px 10px;
    margin-top: 10px;
    border: 1px solid #643472;
}

.signOut{
    padding-right: none;
}

.addPage{
    font-weight: 500;
    color: #643472;
}

.hidden{
    display: none; 
}



/* mobile */
@media (max-width: 960px){
    .nav-container .buttons{
        grid-column: 2/12;
    }
}