.pageV2Container{
    grid-column: 1/13;

    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.pageTitle{
    grid-column: 3/11;
    margin-top: 0px;
    margin-bottom: 20px;
}

.editPage{
    grid-column: 3/11;
    margin-top: 100px;
}

.author{
    grid-column: 3/6;
    margin: 0;
    margin-bottom: 0px;
}

.pageText{
    grid-column: 3/7;
}

.pageText h2{
    margin-top: 60px;
}

.hidden{
    display: none;
}


