.pageV2Container{
    grid-column: 1/13;

    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.pageV2Container body{
    background-color: #FFF;
}

.titleSection{
    grid-column: 1/13;
    background-color: #643472;

    display: inherit;
    grid-template-columns: inherit;

    padding: 100px 0;
}

.titleContent{
    grid-column: 3/11;
}

.pageTitle{
    /* grid-column: 3/11; */
    margin-top: 0px;
    margin-bottom: 10px;
}

.editPage{
    /* grid-column: 3/11; */
}

.author{
    /* grid-column: 3/6; */
    display: block;
    margin: 0;
    margin-bottom: 0px;
    color: #DDD;
    font-size: 1.5rem;
}

.cmvLink{
    padding-top: 40px;
    /* grid-column: 3/7; */
    font-weight: 500;
    display: block;
}

.aboutCMV{
    font-size: 0.8rem;
    /* grid-column: 3/7; */
    display: block;
}

.pageText h1, .pageText h2, .pageText h3, .pageText h4, .pageText h5, .pageText p{
    color: #000;
}

.pageText p{
    font-weight: 400;
}

.pageText a{
    color: #643472;
}

.pageText{
    grid-column: 3/7;
    padding-bottom: 100px;
}

.pageText h2{
    margin-top: 60px;
}

.hidden{
    display: none;
}


@media (max-width: 1200px){
    .titleContent{
        grid-column: 2/12;
    }

    .pageText{
        grid-column: 2/10;
    }
}

@media (max-width: 480px){
    .pageText{
        grid-column: 2/12;
    }


}


