.pageContainer{
    grid-column: 5/11;
    color: #fff;
    align-items: center;
}

.header{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.header h1{
    grid-column: 1/5;
    font-size: 3em;
}

.pageContainer h2{
    margin-top: 40px;
}

.pageContainer h3{
    margin-top: 0px;
    margin-bottom: 0px;
}

.spacer{
    height: 100px;
}

#ideologyFilter{
    position: fixed;
    top: 200px;
    left: 20px;
}

.ideologyLabel{
    float: left;
    width: 100%;
    font-family: 'Patua One';
    color: #DDD;
}

.ideologyDropdown{
    float: left;
    width: 100%;
    border: #CCC 1px solid;
    background-color: #00000000;
    color: #ccc;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 0.8em;
    margin-top: 10px;
    padding: 5px;
}

.ideologyDropdown option{
    color: #000;
}

/* medium */
@media(max-width: 1200px){
    .pageContainer{
        grid-column: 5/13;
    }
}

/* mobile */
@media (max-width: 960px){

    .pageContainer{
        grid-column: 2/12;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    .pageContainer div{
        grid-column: 1/13;
    }

    #ideologyFilter{
        position: static;
        grid-column: 1/13;
    }

}
