.container{
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.cover{
    height: 75vh;
    min-height: 600px;
    grid-column: 4/10;
    display: grid; 
    grid-template-columns: repeat(6, 1fr);
}

.title{
    color: #FFF;
    grid-column: 1/7;
    background-color: #643472;

    align-self: center;

}

.title h1{
    text-align: center;
    font-size: 3em;
}

.title p{
    padding: 1em;
    width: 70%;
    margin: auto;
}

.container .pageSubmit{
    text-align: center;
    padding: 1em;
    grid-column: 4/10;
}

.create-page a{
    grid-column: 1/7;
    justify-self: center;
    margin-bottom: 20px;
}

.container .addNewPage{
    grid-column: 5/9;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.pageDropdown{
    padding: 5px;
    font-family: 'Open Sans';
    margin-bottom: 100px;
    font-size: 1em;
}

.pageSubmit button{
    margin-left: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FFF;
    font-size: 1em;

    color: #000;
    font-family: 'Open Sans';
    border: none;
    box-shadow: 2px 2px 2px rgba(20,20,20, 0.3);
    cursor: pointer;
}

.pageSubmit option{
    padding-top: 10px;
    padding-bottom: 10px;
}

.create-page{
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12,1fr);

    background-color: #FFF;
    padding-top: 100px;
    padding-bottom: 100px;
}

.create-page a{
    color:#643472;
}

.create-page .form-title{
    color: #000;
    grid-column: 5/9;
    margin-top: 0px;
    font-size: 2.25em;
}


.addNewPage h1{
    grid-column: 1/5;
    color: #643472;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 5px;
    font-size: 2.25em;
    color: #333;
    margin-top: 100px;
}

.addNewPage input.pageInput{
    font-size: 1em;
    font-family: 'Open Sans';
    padding: 5px;
    border: #AAA 1px solid;
    margin: 5px;
    background-color: rgba(255,255,255,0.7);

    grid-column: 1/4;
}

.addNewPage input.pageInput::placeholder{
    color: #999;
}

.addNewPage input.submitButton{
    font-size: 1em;
    font-family: 'Open Sans';
    padding: 5px;
    border: #DDD 1px solid;
    margin: 5px;
    background-color: rgba(255,255,255,0.7);

    grid-column: 4/5;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(200,200,200, .8);
}

/* xtra-large */
@media(min-width: 2000px){

    .title{
        /* grid-column: 5/9; */
    }

    .create-page .form-title{
        width: 80%;
        margin: auto;
        margin-bottom: 40px;
    }

    .container .addNewPage{
        width: 80%;
        margin: auto;
    }

    .title .page-paragraph{
        grid-column: 3/5;
    }

}


/* medium */
@media(max-width: 1200px){
    .create-page .form-title{
        grid-column: 4/10;
    }

    .container .addNewPage{
        grid-column: 4/10;
    }

    .container .pageSubmit{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 10px;
        margin-bottom: 100px;
    }

    .pageDropdown{
        grid-column: 1/5;
        margin-bottom: 0px;
    }

    .pageSubmit button{
        grid-column: 5/7;
    }
}

/* mobile */
@media (max-width: 960px){
    
    .cover{
        grid-column: 2/12;
    }

    .title{
        align-self: center;
        justify-self: center;
        grid-column: 1/11;
    }

    .title p{
        width: 100%;
        padding: 10px 0px;
    }

    .container .pageSubmit{
        grid-column: 2/12;
        padding-left: 0px;
        padding-right: 0px;
    }

    .create-page .form-title{
        grid-column: 2/12;
        justify-self: center;
    }

    .container .addNewPage{
        grid-column: 2/12;
    }

    .container .addNewPage .pageInput{
        grid-column: 1/5;
    }

    .container .addNewPage .submitButton{
        grid-column: 1/3;
    }


}
