.pageV2Container{
    grid-column: 1/13;

    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.pageV2Container body{
    background-color: #FFF;
}

.titleSection{
    grid-column: 1/13;
    background-color: #643472;

    display: inherit;
    grid-template-columns: inherit;

    padding: 100px 0;
}

.titleContent{
    grid-column: 3/11;
}

.pageTitle{
    /* grid-column: 3/11; */
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 600;
    color: rgba(255,255,255, 0.9);
}

.editPage{
    /* grid-column: 3/11; */
}

.author{
    /* grid-column: 3/6; */
    display: block;
    margin: 0;
    margin-bottom: 0px;
    color: #CCC;
    font-size: 1.5rem;
    font-family: 'program';
}

.cmvLink{
    margin-top: 40px;
    /* grid-column: 3/7; */
    font-weight: 400;
    display: block;
    text-decoration: none;
    padding: 10px;
    border: 1px solid white;
    width: max-content;
}

.cmvLink:hover{
    background-color: rgba(255,255,255, 0.7);
    color: #333;
    text-decoration: none;
}

.aboutCMV{
    padding-top: 20px;
    font-size: 0.8rem;
    /* grid-column: 3/7; */
    display: block;
    width: max-content;
}

.pageText h1, .pageText h2, .pageText h3, .pageText h4, .pageText h5, .pageText p, .view{
    color: #333;
    line-height: 1.2;
}

.pageText p, .pageText ul, .pageText ol, .pageText a{
    font-family: "karmina";
    line-height: 1.6;
}


.pageText h1, .pageText h2, .pageText h3, .pageText h4, .pageText h5{
    padding-bottom: 0px;
    padding-top: 9px;
}

.view{
    grid-column: 3/9;
    padding-bottom: 20px;
}

.pageText p, ul, ol{
    color: #222;
    letter-spacing: 0px;
}

.pageText ul li, .pageText ol li{
    padding: 4px 0;
}

.pageText ul li p{
    margin: 4px 0px;
}

.pageText a{
    color: #643472;
}

.pageText{
    grid-column: 3/9;
}

.pageText.viewText{
    margin-bottom: 100px;
}

.pageText h2{
    margin-top: 60px;
}

.pageText ul{
    font-weight: 500;
}

.hidden{
    display: none;
}

@media(min-width: 1600px){
    .pageText{
        grid-column: 3/7;
    }

    .view{
        grid-column: 3/7;
    }
}

@media (max-width: 1200px){
    .titleContent{
        grid-column: 2/12;
    }

    .view{
        grid-column: 2/12;
    }

    .pageText{
        grid-column: 2/10;
    }
}

@media (max-width: 480px){
    .pageText{
        grid-column: 2/12;
    }
}


